.home{
  width:90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.list{
  display: flex;
  list-style-type:none ;
  justify-content: space-between;
  width:100%
}

.sub_list {
   text-decoration: none;
   margin-top: 1rem;
   color: grey;
}
.sub_list:hover{
  border-bottom: 2px solid rgb(159, 228, 201);
}
.main{
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 4rem;
  flex-wrap:wrap;
}
.service{
  display: flex;
  flex-direction: row;
}
.sub_service{
  text-align: center;
}


  .contact {
    max-width: 20rem;
    margin: auto;
    padding-top: 2rem;
  }
    .forms {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .buttons{
      width: 30%;
      margin: auto;
    }
    .inputs{
      height: 20px;
    }
   .master{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 130px;
   }
   .buttons{
    background-color: blueviolet;
    color:white;
   width: 100px;
   height: 40px;
   outline: none;
   border:none;
   }

   .inputs{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(225, 224, 224);
    background-color:aliceblue;
   }
   .description{
    color: grey;
   }

   @media(max-width:792px){
 
      .main_image{
        margin-top: 100px;
      }
      .service{
        flex-wrap: wrap;
      }
      .sub_service{
        margin-bottom: 30px;
      }
      .list{
        flex-direction: column;
      }
      .home{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
      }
      .ordered_list{
        margin-top: 20px;
      }
   }